{% extends 'base.html.twig' %}

{% block title %}Aktualności Sportowe{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Aktualności Sportowe</h1>
        <p>Poniżej znajdują się najnowsze wiadomości ze świata sportu.</p>

        <hr class="my-4">

        <section id="sports_news">
            <h2 class="mb-4">Najnowsze Wiadomości</h2>
            <div class="row mb-4">
                <div class="col-md-4">
                    <picture>
                        <source srcset="/images/legia-img.webp" type="image/webp">
                        <img src="/images/legia-img.jpg" class="img-fluid home-image" alt="Legia Image">
                    </picture>
                </div>
                <div class="col-md-8">
                    <h5>Legia Warszawa szykuje transferowy hit! "Rozglądają się" za Polakiem z Serie A</h5>
                    <p>Legia Warszawa intensywnie działa na rynku transferowym. Jak poinformował portal Meczyki.pl, działacze stołecznego klubu planują już kolejny ruch. Zdaniem dziennikarzy zamierzają sięgnąć po polskiego piłkarza z klubu z jednej z czołowych europejskich lig. "Słyszymy, że w stolicy rozglądają się mocno za Polakiem" - czytamy.</p>
                    <small>18:40</small>
                </div>
            </div>
            <hr>
            <div class="row mb-4">
                <div class="col-md-4">
                    <picture>
                        <source srcset="/images/probierz-img.webp" type="image/webp">
                        <img src="/images/probierz-img.jpg" class="img-fluid home-image" alt="Probierz Image">
                    </picture>
                </div>
                <div class="col-md-8">
                    <h5>Wyjątkowy gość na zgrupowaniu kadry Polski! Probierz od razu zareagował</h5>
                    <p>Przygotowująca się do Euro 2024 piłkarska reprezentacja Polski odbyła szkolenie z obecnie obowiązujących przepisów oraz interpretacji. Polakom przybliżał je najlepszy polski sędzia - Szymon Marciniak, którego także nie zabraknie na mistrzostwach Europy. "Miło że przygotowanie teoretyczne do Euro prowadzi nam najlepszy sędzia" - napisał w mediach społecznościowych selekcjoner Michał Probierz.</p>
                    <small>17:53</small>
                </div>
            </div>
            <hr>
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="/images/bulka-img.jpg" class="img-fluid" alt="Marcin Bułka">
                </div>
                <div class="col-md-8">
                    <h5>Wycenili Marcina Bułkę. Może napisać historię! Klub miliarderów już zaczął działać</h5>
                    <p>Marcin Bułka ma za sobą świetny sezon w Nicei i z tego powodu zwrócił na siebie uwagę europejskich zespołów. Niedawno portal Meczyki.pl przekazał, że bramkarzem interesuje się AC Milan. Teraz to samo źródło podaje kolejne informacje w tej sprawie. Okazuje się, że Włosi nie są jedynym klubem, który chce ściągnąć Bułkę. Poznaliśmy także oczekiwania finansowe Nicei.</p>
                    <small>16:26</small>
                </div>
            </div>
            <hr>
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="/images/rakow-img.jpg" class="img-fluid" alt="Raków Częstochowa">
                </div>
                <div class="col-md-8">
                    <h5>Raków zatrzęsie ligą?! Papszun chce absolutną gwiazdę Ekstraklasy</h5>
                    <p>Raków Częstochowa po powrocie Marka Papszuna rozpoczną kompletowanie składu na kolejny sezon. Z klubem już oficjalnie pożegnał się Vladan Kovačević, więc trwa poszukiwanie nowego bramkarza. Na liście życzeń jest jednak też nowy napastnik, którego Probierz powołał ostatnio do reprezentacji Polski. Poza tym Raków rozgląda się także za kolejnym napastnikiem. Kto konkretnie wchodzi w grę?</p>
                    <small>16:18</small>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
